# SECRETS
.env*
*.env

# CLAUDE
.claude/

# OUTPUT
data/
dist/
.cache/

# RUST
target/

# IDE
.vscode/

# OS
.DS_Store

# DEMOS
site/node_modules/
site/pkg/
pkgs/mrlyjs/pkg/

# PYTHON
.venv/
__pycache__/
.pytest_cache/
pkgs/mrlypy/python/mrlypy/*.so
