/* VENDOR */

@import url("../../../files/vendor/icons.css");
@import url("../../../files/vendor/emoji.css");
@import url("../../../files/vendor/fonts.css");

/* FONT */

@font-face {
  font-family: "MrlyFont";
  font-style: normal;
  font-weight: normal;
  src:
    url("../../../files/mrlyfont/MrlyFont.woff2") format("woff2"),
    url("../../../files/mrlyfont/MrlyFont.woff") format("woff"),
    url("../../../files/mrlyfont/MrlyFont.ttf") format("truetype");
}

