/* PALETTE */

:root {
  --c-black: rgb(0, 0, 0);
  --c-white: rgb(255, 255, 255);
  --c-red: rgb(255, 61, 64);
  --c-orange: rgb(255, 143, 44);
  --c-yellow: rgb(255, 209, 0);
  --c-green: rgb(50, 204, 88);
  --c-mint: rgb(0, 209, 187);
  --c-teal: rgb(0, 202, 216);
  --c-cyan: rgb(30, 201, 243);
  --c-blue: rgb(0, 140, 255);
  --c-indigo: rgb(103, 104, 250);
  --c-purple: rgb(211, 50, 233);
  --c-pink: rgb(255, 50, 90);
  --c-brown: rgb(177, 132, 98);
  --c-gray: rgb(142, 142, 147);
}
