/* FACES */

@import url("./faces.css");

/* ICONS */

.ic {
  font-family: "mrly-icons";
  font-weight: 400;
  font-style: normal;
  font-size: 1.25em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
}

/* TOGGLE */

:root.mrlyfont {
  --font-body: var(--font-mrly);
  --font-heading: var(--font-mrly);
}
