/* BLOCK */

.src {
  color: var(--astro-code-foreground);
  overflow-x: auto;
}

/* TOKENS */

.src .tk-comment {
  color: var(--astro-code-token-comment);
}

.src .tk-punctuation {
  color: var(--astro-code-token-punctuation);
}

.src .tk-keyword {
  color: var(--astro-code-token-keyword);
}

.src .tk-string,
.src .tk-string-expression {
  color: var(--astro-code-token-string);
}

.src .tk-constant {
  color: var(--astro-code-token-constant);
}

.src .tk-function {
  color: var(--astro-code-token-function);
}

.src .tk-parameter {
  color: var(--astro-code-token-parameter);
}

.src .tk-link {
  color: var(--astro-code-token-link);
}

.src .tk-inserted {
  color: color-mix(in srgb, var(--c-green) var(--code-mix), var(--font-color));
}

.src .tk-deleted {
  color: color-mix(in srgb, var(--c-red) var(--code-mix), var(--font-color));
}

.src .tk-changed {
  color: color-mix(in srgb, var(--c-yellow) var(--code-mix), var(--font-color));
}

/* FACES */

.src .tk-bold {
  font-weight: 650;
}

.src .tk-italic {
  font-style: italic;
}

.src .tk-underline {
  text-decoration: underline;
}

/* GUTTER */

.src code {
  counter-reset: line;
}

.src .line {
  counter-increment: line;
}

.src .line::before {
  content: counter(line);
  display: inline-block;
  width: 2ch;
  margin-right: 1.25ch;
  color: var(--muted-color);
  font-variant-numeric: tabular-nums;
  text-align: right;
  user-select: none;
  -webkit-user-select: none;
}

.src.d3 .line::before {
  width: 3ch;
}

.src.d4 .line::before {
  width: 4ch;
}

.src.d5 .line::before {
  width: 5ch;
}

.src.d6 .line::before {
  width: 6ch;
}

@media print {
  .src .line::before {
    content: none;
  }
}

/* CLONE */

.clone {
  background-color: var(--fill-color);
  border: var(--border);
  border-radius: var(--radius-full);
  display: block;
  font-family: var(--font-mono);
  font-size: var(--font-xs);
  margin: 0 auto var(--space-3);
  max-width: min(100%, var(--frame-width));
  overflow-wrap: anywhere;
  padding: var(--space-2) var(--space-4);
  width: fit-content;
}
