/* STAGE */

.stage {
  aspect-ratio: 1;
  background-color: var(--body-color);
  border-color: var(--accent-color);
  color: var(--font-color);
  display: block;
  position: relative;
  width: 100%;
}

.stage canvas {
  display: block;
  height: 100%;
  width: 100%;
}
